
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* Global Utilities */
body {
  background-color: #f5f8ff;
}
.flex {
  display: flex;
}
.margin {
  max-width: 1140px;
  margin: 0px auto;
}
.text {
  font-size: 1.4rem;
  color: #00000080;
}
.text-align {
  text-align: center;
}
#color-gray {
  color: #8987a1;
}
