
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* Global Utilities */
body {
  background-color: #f5f8ff;
}
.flex {
  display: flex;
}
.margin {
  max-width: 1140px;
  margin: 0px auto;
}
.text {
  font-size: 1.4rem;
  color: #00000080;
}
.text-align {
  text-align: center;
}
#color-gray {
  color: #8987a1;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 120px;
}
nav li {
  list-style: none;
}
nav ul {
  justify-content: space-between;
  gap: 48px;
}
nav ul a {
  text-decoration: none;
  color: #252432;
}
.home {
  font-weight: 700;
  color: #252432;
}

.banner {
  align-items: center;
}
.banner-title {
  font-size: 4rem;
  margin-bottom: 0px;
}
.title-color {
  color: #e95a08;
}
.banner-description {
  font-size: 1.4rem;
  color: #00000080;
  margin-top: 13px;
}
.banner img {
  width: 100%;
}
.plants-title {
  font-size: 3.13rem;
  font-weight: 700;
}
.plants-details {
  margin-top: 120px;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
  width: 1140px;
  box-sizing: border-box;
}
.card-section img {
  width: 100%;
}
.flower-name {
  font-size: 1.38rem;
  font-weight: 500;
  color: #111111;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
.flower-price {
  font-size: 1.38rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btg-primary {
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  border: none;
  color: white;
  font-weight: 600;
}

