
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* Global Utilities */
body {
  background-color: #f5f8ff;
}
.flex {
  display: flex;
}
.margin {
  max-width: 1140px;
  margin: 0px auto;
}
.text {
  font-size: 1.4rem;
  color: #00000080;
}
.text-align {
  text-align: center;
}
#color-gray {
  color: #8987a1;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 120px;
}
nav li {
  list-style: none;
}
nav ul {
  justify-content: space-between;
  gap: 48px;
}
nav ul a {
  text-decoration: none;
  color: #252432;
}
.home {
  font-weight: 700;
  color: #252432;
}

.banner {
  align-items: center;
}
.banner-title {
  font-size: 4rem;
  margin-bottom: 0px;
}
.title-color {
  color: #e95a08;
}
.banner-description {
  font-size: 1.4rem;
  color: #00000080;
  margin-top: 13px;
}
.banner img {
  width: 100%;
}
.plants-title {
  font-size: 3.13rem;
  font-weight: 700;
}
.plants-details {
  margin-top: 120px;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
  width: 1140px;
  box-sizing: border-box;
}
.card-section img {
  width: 100%;
}
.flower-name {
  font-size: 1.38rem;
  font-weight: 500;
  color: #111111;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
.flower-price {
  font-size: 1.38rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btg-primary {
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  border: none;
  color: white;
  font-weight: 600;
}
.flover-title {
  font-size: 3.13rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0px;
}
.flower-lover {
  align-items: center;
  margin-top: 221px;
  position: relative;
}
.flower-store {
  width: 100%;
}
.plants-section {
  margin-left: 60px;
}
.plants-section ul li {
  margin-top: 20px;
}
.trusted-badge {
  position: absolute;
  top: 2%;
  left: 44%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 286px;
  height: 286px;
  object-fit: contain;
  animation: spin 9s linear infinite;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.latest-deals {
  margin-top: 133px;
}
.bloom-plant,
.ana-plant,
.one-img {
  background-repeat: no-repeat;
  border-radius: 14px;
  color: white;
}
.bloom-plant {
  width: 367px;
  height: 201px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/deal-bloom.png");
}
.ana-plant {
  width: 367px;
  height: 197px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/deal-ana.png");
}
.one-img {
  width: 753px;
  height: 423.13px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/deal-zabo.png");
  border-radius: 22px;
}
.shop-now {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 120px 0;
}
.shop-now a {
  color: white;
}
.bloom-name, .ana-name {
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 65px;
  margin: 25px 0 20px;
}
.zabo-name {
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 172px;
  margin: 25px 0 20px;
}
.s-btg, .zabo-btg {
  font-weight: 600;
}
.zabo-btg {
  font-size: 1.75rem;
}

.join-bunch {
  width: 100%;
  height: 533px;
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bunch-title {
  font-size: 3.1rem;
  font-weight: 700;
  padding-top: 200px;
  margin-bottom: 23px;
}
.input {
  width: 644px;
  height: 50px;
  background-color: white;
  border: none;
  padding-left: 20px;
}
.btn {
  width: 186px;
  height: 52px;
  background-color: #e95a08;
  color: white;
  border: none;
  font-weight: 600;
}
.form {
  justify-content: center;
}

